body[darkTheme='true'] .task-view-switch-button {
  background-color: #f0f0f0 !important;
  color: black !important;
}
body[darkTheme='true'] .task-view-switch-button.active,
.task-view-switch-button.active {
  background-color: #00637f !important;
  color: #f0f0f0 !important;
  transition: background-color 0.35s ease !important;
}
body[darkTheme='false'] .task-view-switch-button.active {
  border: 2px solid #222 !important;
}
.ui.compact.labeled.button.task-view-switch-button#list-view-switch-button {
  padding-left: 3.25rem !important;
}
.ui.compact.labeled.button.task-view-switch-button#calendar-view-switch-button {
  padding-right: 3.25rem !important;
}
