@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
.red-text {
  color: var(--my-red);
}
.todo-snumber {
  font-size: 1.05rem !important;
  color: var(--my-teal) !important;
  width: 20% !important;
  text-align: left !important;
  align-self: center !important;
}
.late-todo-snumber {
  color: var(--my-red) !important;
}
/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column !important;
  position: relative !important;
  height: fit-content !important;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  width: 100% !important;
  color: #000;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: space-between !important;
  border: none !important;
  outline: none;
  height: max-content !important;
  padding: 15px 20px !important;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
.accordion:hover,
.active {
  background-color: #eee !important;
} */
/* Style the accordion content title */
.accordion__title {
  align-self: center !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
  font-size: 1.2rem;
  height: max-content !important;
  text-align: left !important;
}
/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.5s ease;
  align-self: center !important;
}
/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}
/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  width: 100% !important;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out !important;
}
/* Style the accordion content text */
.accordion_content_container {
  overflow-y: auto !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important;
  flex-direction: column !important;
  padding: 15px 20px !important;
}

/* Media queries */
@media screen and (max-width: 767px) {
  .accordion__title {
    font-size: 1.175rem !important;
  }
  .todo-snumber {
    font-size: 1rem !important;
  }
}
