.each-todo {
  margin: 0 !important;
  margin-top: 0.5rem !important;
  user-select: none !important;
}
.todo-action-btn {
  font-weight: bolder !important;
}
.todo-done-btn {
  color: var(--my-teal) !important;
  border: 1.95px solid var(--my-teal) !important;
  background-color: transparent !important;
}
.todo-delete-btn {
  color: var(--my-red) !important;
  border: 1.95px solid var(--my-red) !important;
  background-color: transparent !important;
}
