#main-part-container {
  margin: auto 0 !important;
}
#landing-page-text-bg {
  height: 42rem !important;
  z-index: -2 !important;
  animation-duration: 1.3s !important;
}
#nav-and-app-details-container {
  top: 0 !important;
}
#landing-page-nav {
  user-select: none !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: blur(7px);
  width: 100vw !important;
  z-index: 99 !important;
}
#landing-page-nav-app-name {
  color: whitesmoke !important;
  cursor: pointer !important;
  display: inline-flex;
}
#landing-page-app-caption {
  user-select: none !important;
  font-size: 3rem !important;
  color: whitesmoke !important;
}
.landing-page-main-action-link {
  box-shadow: 0 0 0 2px #fff inset !important;
  background: transparent none;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  font-size: 1.2rem !important;
}
.landing-page-main-action-link:hover,
.landing-page-main-action-link:focus {
  color: #006976 !important;
  background-color: whitesmoke !important;
  box-shadow: 0 0 4px 0.2px #000 !important;
}

@media screen and (max-width: 768px) {
  #landing-page-text-bg {
    height: 43.5rem !important;
  }
}
