body {
  min-width: 250px !important;
}
:root body {
  --my-teal: #006976;
  --my-white: #f4f4f4;
  --my-black: #000000;
  --my-red: #cc0000;
}
:root body[darkTheme='true'] {
  --my-teal: #00d9ff;
  --my-white: #efefef;
  --my-black: #101010;
  --my-red: #ff6b6b;
}

body .my-primary-bg {
  background-color: var(--my-white) !important;
}
body[darkTheme='true'] .my-primary-bg {
  background-color: var(--my-black) !important;
}
body .my-teal-text,
body[darkTheme='true'] .my-teal-text {
  color: var(--my-teal) !important;
}
body .my-red-text,
body[darkTheme='true'] .my-red-text {
  color: var(--my-red) !important;
}
body .my-primary-text {
  color: var(--my-black) !important;
}
body[darkTheme='true'] .my-primary-text {
  color: var(--my-white) !important;
}
