.mobile-nav-hamburger-button {
  background: transparent !important;
  color: whitesmoke !important;
  box-shadow: none !important;
  border: 0 !important;
  cursor: pointer;
}
.mobile-menu-normal {
  background: rgba(0, 0, 0, 0.5) !important;
}
.mobile-menu-backdrop {
  width: 50% !important;
  max-width: 300px !important;
  margin-left: auto;
  justify-content: right !important;
  position: relative !important;
  border-radius: 0.5rem !important;
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(4px);
}
.mobile-menu-closed {
  display: none !important;
}
.mobile-menu-open {
  display: block !important;
}
#main-nav-ul {
  position: relative;
}
#main-nav-ul li {
  list-style-type: none !important;
  margin: 0 !important;
}
.main-nav-link {
  text-decoration: none !important;
  font-size: 1.2rem;
  color: whitesmoke !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold;
  padding: 0 1rem;
}

/* Tablet and above */
@media screen and (max-width: 768px) {
  .main-nav-link {
    padding: 0 !important;
  }
  #main-nav-ul li {
    margin: 1rem 0 !important;
  }
}
