@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
.open-sans-font {
  font-family: "Open Sans", sans-serif !important;
}
.mobile-nav-segment {
  width: 100vw !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 99 !important;
  border: none !important;
  border-radius: 0 !important;
  border-top: 2px solid #006976 !important;
  border-left: 1.5px solid #006976 !important;
  border-right: 1.5px solid #006976 !important;
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
  background-color: whitesmoke !important;
}
.mobile-ul {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  padding: 0 !important;
  position: relative;
}
.mobile-ul li {
  list-style-type: none !important;
}
.mobile-link {
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
  justify-content: center;
  align-items: center;
}
#create-button-mobile-li {
  position: absolute;
  bottom: 28.5px;
  border-radius: 50% !important;
  padding: 0.65rem;
}
#create-button-mobile {
  background-color: #006976;
  border-radius: 50% !important;
  padding: 0.65rem;
  border: none !important;
  box-shadow: 0 0 2px 0.1px rgb(50, 50, 50);
  cursor: pointer;
}
.mobile-link h5 {
  color: #006976;
}

/* Desktop */
.desktop-nav-segment {
  background-color: whitesmoke !important;
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 1rem !important;
  border-radius: 0 !important;
  align-items: center !important;
}
.desktop-nav-segment h2 {
  color: #006976 !important;
}
.desktop-ul {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  padding: 0 !important;
  position: relative;
  align-items: center !important;
  margin: 0.35rem 0 !important;
}
.desktop-ul li {
  list-style-type: none !important;
  padding: 0 1.5rem !important;
}
#create-button-desktop {
  background-color: #006976;
  border-radius: 3rem !important;
  padding: 0.5rem 2.2rem !important;
  border: none !important;
  cursor: pointer;
  box-shadow: 0 0 2px 0.1px rgb(50, 50, 50);
}
.desktop-link {
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  color: #006976 !important;
}
