.mobile-nav-segment {
  width: 100vw !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 99 !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  background-color: whitesmoke !important;
}
.mobile-ul {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  padding: 0 !important;
  position: relative;
}
.mobile-ul li {
  list-style-type: none !important;
}
.mobile-link {
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
  justify-content: center;
  align-items: center;
}
#create-button-mobile {
  position: absolute;
  bottom: 35px;
  background-color: teal;
  border-radius: 50% !important;
  padding: 0.75rem;
  box-shadow: 0 0 5px 0.1px rgb(50, 50, 50);
}
.mobile-link h5 {
  color: teal;
}

/* Desktop */
.desktop-nav-segment {
  background-color: whitesmoke !important;
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 1rem !important;
  border-radius: 0 !important;
  align-items: center !important;
}
.desktop-ul {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  padding: 0 !important;
  position: relative;
  align-items: center !important;
  margin: 0.35rem 0 !important;
}
.desktop-ul li {
  list-style-type: none !important;
  padding: 0 1.5rem !important;
}
#create-button-desktop {
  background-color: teal;
  border-radius: 3rem !important;
  padding: 0 2rem !important;
  box-shadow: 0 0 5px 0.1px rgb(50, 50, 50);
}
.desktop-link {
  display: flex !important;
  flex-direction: column !important;
  text-align: center !important;
  justify-content: center;
  align-items: center;
  color: teal !important;
}
