/* A quick reset to the modal */
@media only screen and (max-width: 480px) {
  .RMM__body {
    padding: 2rem 3% !important;
  }
}
.RMM__container {
  z-index: 999 !important;
}
.RMM__body {
  overflow: hidden !important;
}

/* For Material UI datepicker*/
.MuiPickersToolbar-toolbar,
.MuiPickersClock-pin,
.MuiPickersClockPointer-pointer,
.MuiPickersClockPointer-noPoint,
.MuiPickerDTTabs-tabs {
  background-color: #006976 !important;
}
.MuiButton-label {
  color: #006976 !important;
}
.MuiPickersClockPointer-thumb {
  border: 14px solid #006976 !important;
}
.MuiTab-wrapper .MuiSvgIcon-root {
  fill: #ffffff !important;
}
.MuiFormLabel-root {
  display: none !important;
}
/*  */

#newTodoForm {
  border-radius: 5px;
  background: #ecf0f3;
  box-shadow: 0 0 10px 0.1px #000000;
}

#newTodoForm button {
  font-weight: bolder;
  border: 1px solid;
}

#newTodoForm input[type="text"],
#newTodoForm textarea {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.15rem !important;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #ffffff;
}

#newTodoForm label {
  font-size: 1.05rem;
  margin-top: 5px;
}

#todoDescription {
  resize: none;
}

/* For date input */
.react-datetime-picker {
  width: 100% !important;
}
.react-datetime-picker__wrapper {
  display: block !important;
  border-radius: 0.4rem;
  flex-shrink: 1 !important;
}
.react-datetime-picker__inputGroup {
  position: relative;
  min-width: 100% !important;
  max-width: 100% !important;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: center !important;
}
input[name="datetime"] {
  display: none;
}
.react-datetime-picker__inputGroup__input {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  font-size: 1.2rem !important;
  margin: 0.3rem 0 !important;
  box-shadow: inset 2px 2px 2px #cbced1, inset -2px -2px 2px #ffffff !important;
}
.react-datetime-picker__inputGroup__divider {
  font-size: 2rem;
}
.react-datetime-picker__clear-button,
.react-datetime-picker__calendar-button {
  display: none !important;
}
