#signup-div {
  background-color: rgb(245, 245, 245) !important;
  user-select: none !important;
}
#signup-div h3 {
  cursor: pointer !important;
}
#signup-form input:focus {
  border: 1px solid #006976 !important;
}
.signup-form-label {
  text-align: left !important;
  font-size: 1.2rem !important;
  margin-top: 0.75rem !important;
}
#signup-btn-main {
  background-color: #00899b !important;
  color: whitesmoke !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.1rem !important;
}
#signup-btn-main:hover,
#signup-btn-main:focus {
  background-color: #006976 !important;
  color: white !important;
  box-shadow: 0 0 5px 0.1px gray;
}
.signup-page-error-text {
  display: block !important;
  color: rgb(231, 0, 0) !important;
  text-align: left !important;
  visibility: hidden !important;
}
.error-message-visible {
  visibility: visible !important;
}
