.each-todo {
  margin: 0 !important;
  margin-top: 0.5rem !important;
  user-select: none !important;
}
.todo-action-btn {
  font-weight: bolder !important;
}
.todo-done-btn {
  color: #006976 !important;
  border: 1.95px solid #006976 !important;
  background-color: transparent !important;
}
.bordered-placeholder-loader {
  border: 1px solid rgb(200, 200, 200) !important;
}
